@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: black;
    background-image: url(/CumpleTon/img/UEFA.jpg);
    color: black;
    background-size: 34%;
    /*background-attachment: fixed;
    background-size: cover;
    background-position: top;*/

    /*align-items: center; Poner el contenido en el centro de la pantalla
    justify-content: center; Centrar el contenido al puro centro*/
}

.container{
/*responsive*/
width: 75vw;
max-width: 1000px;
min-width: 320px;
margin: auto;
/*responsive*/
}


img{
    /*responsive*/
width: 100%;
border-radius:  15px;
box-shadow: 0px 3px 5px black;
/*responsive*/

}

h1{
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
     font-style: normal;
    /*responsive*/
    text-align: center;
    font-size: 1.5rem;    
    margin: 50px 0px;
    /*responsive*/
    text-shadow:
    3px 3px 2px white,
    -3px 3px 2px white,
    -3px -3px 0 white,
    3px -3px 0 white;
}

p{
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    /*responsive*/
    text-align: center; 
    font-size: 1.5rem;    
    margin: 50px 0px;
    /*responsive*/
    text-shadow:
    3px 3px 2px white,
    -3px 3px 2px white,
    -3px -3px 0 white,
    3px -3px 0 white;
}

footer{
    text-align: center; 
    font-size: 2rem;    
    margin: 50px 0px;
}


